.Arrows{
    all:unset;
    position: absolute;
    cursor: pointer;
  }
  
  .ArrowsR {
    color: white;
    height: 100%;
    background-color: rgb(175, 175, 175);
    top: 0%;
    left: 96.5%;
    opacity: 0.2;
    border: none;
    cursor: pointer;
  }
  .ArrowsR:hover {
    background-color: rgb(100, 100, 100); /* Новый цвет фона при наведении */
    opacity: 0.8; /* Измененная непрозрачность при наведении */
  }
  

  
  .ArrowsL{
    top: 30%;
    right: 100.5%;
    color: rgb(175, 175, 175);
  }
  
  